<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chang.mapper.VideoMapper">

    <select id="findByCid" resultType="Video">
        select * from video where cid = #{cid}
    </select>

    <insert id="addVideo" parameterType="Video">
        insert into
        video(cid,`update`,vname,vurl,resources_name,resources_url)
        values (#{cid},#{update},#{vname},#{vurl},#{resources_name},#{resources_url})
    </insert>

    <select id="findOneById" resultType="Video">
        select * from video where id = #{vid}
    </select>

    <select id="findAll" resultType="Video">
        select * from video
    </select>

    <delete id="deleteVideoById">
        delete from video where id = #{vid}
    </delete>

</mapper>
